{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Fertility History{% endblock %}

{% block content %}

<div class=title>
    <h2>Fertility History</h2>
</div>

<div class="container">

    <div class="list-group">
    {% if fertility_list %}
        {% for fertility in fertility_list %}
        <a href="{% url 'fertility:fertility' fertility.id %}" class="list-group-item">
          <h4 class="list-group-item-heading">Date: {{ fertility.date }} Time: {{ fertility.time }}</h4>
        </a>
        {% endfor %}
    {% endif %}
    </div>

</div>

{% endblock content %}

