{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Period History{% endblock %}

{% block content %}

<div class=title>
    <h2>Period History</h2>
</div>
<div class="container">

    <div class="list-group">
    {% if period_list %}
        {% for period in period_list %}
        <a href="{% url 'fertility:period' period.id %}" class="list-group-item">
          <h4 class="list-group-item-heading">Date: {{ period.date }} Flow: {{ period.flow }}</h4>
        </a>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}

