{% extends "base.html" %}

{% block content %}
<div class="container spacing">
<!-- About Section -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About FemStats</h2>
            <p>FemStats is a women's fertility and general health logging app</p>
        </div>
    </div>
</div>
<div class="container spacing">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Know Your Body</h3>
            <p>Log information daily to learn more about your body and track your health</p>
        </div>
    </div>
</div>
<div class="container spacing">
    <div class="row">
        <div class="col-lg-4">
            <h4>Menstruation Data</h4>
            <p>Sample text</p>
        </div>
        <div class="col-lg-4">
            <h4>Cervical Data</h4>
            <p>Sample text</p>
        </div>    
        <div class="col-lg-4">
            <h4>Temperature  Data</h4>
            <p>Sample text</p>
        </div>
    </div>
</div>
{% endblock content %}
