{% extends "base.html" %}

{% block content %}
<div class="container-spacing">
<!-- About Section -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About FemStats</h2>
            <p>FemStats is a women's fertility and general health logging app</p>
        </div>
    </div>
</div>
<div class="container-spacing">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Know Your Body</h3>
            <p>Log information daily to learn more about your body and track your health</p>
        </div>
    </div>
</div>
<div class="container-spacing">
    <div class="row">
        <div class="col-lg-4">
            <h4>Menstruation Data</h4>
            <p>Vinyl pop-up tacos, roof party fanny pack quinoa microdosing fashion axe cliche typewriter. Poutine gluten-free truffaut PBR&B, cardigan mumblecore hella ramps 90's lomo. Mustache twee godard, thundercats fashion axe echo park small batch. Pitchfork actually literally, pop-up typewriter art party selvage post-ironic food truck try-hard. Banjo intelligentsia cardigan, keytar wolf master cleanse synth waistcoat selvage austin squid poutine pitchfork food truck organic. Skateboard fixie viral, lomo truffaut stumptown tofu williamsburg. Helvetica leggings XOXO, everyday carry fingerstache single-origin coffee salvia affogato.</p>
        </div>
        <div class="col-lg-4">
            <h4>Cervical Data</h4>
            <p>Meditation tilde sustainable occupy. Cred freegan tote bag cold-pressed ennui, keytar pitchfork quinoa tousled. Hella bitters narwhal try-hard everyday carry wayfarers, tacos photo booth meditation crucifix 90's etsy jean shorts bespoke. Thundercats poutine truffaut messenger bag. Jean shorts fanny pack next level skateboard gochujang sriracha kitsch everyday carry, intelligentsia biodiesel ramps thundercats. Chartreuse single-origin coffee kogi, jean shorts blog sustainable drinking vinegar shabby chic schlitz lo-fi small batch food truck fanny pack you probably haven't heard of them. Listicle forage chartreuse, semiotics iPhone typewriter marfa single-origin coffee 8-bit kitsch shoreditch hella quinoa.</p>
        </div>    
        <div class="col-lg-4">
            <h4>Temperature  Data</h4>
            <p>Try-hard aesthetic fanny pack, waistcoat mumblecore dreamcatcher iPhone blue bottle. Gluten-free tumblr banjo, letterpress blue bottle salvia +1 fap microdosing williamsburg keffiyeh poutine. Craft beer blog waistcoat plaid, schlitz cliche master cleanse gentrify. Paleo small batch squid, master cleanse cardigan authentic banh mi venmo everyday carry ramps williamsburg cliche tumblr chambray blog. Tofu taxidermy quinoa, ennui art party knausgaard dreamcatcher tattooed trust fund thundercats gochujang sriracha shabby chic affogato. Ennui cardigan ramps, flannel salvia everyday carry brunch crucifix asymmetrical affogato pop-up occupy mlkshk direct trade. Vinyl waistcoat single-origin coffee fanny pack cronut yuccie</p>
        </div>
    </div>
</div>
{% endblock content %}
